/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  // outline: none;
  // border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

$background: #fcf9ee;
$card: #e7d6c4;
$slider-bar: #ddc92a;
$foreground: #141414;
body {
  background: $background;
  color: $foreground;
  //   cursor: none;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.hover {
  color: #000;
  &:hover {
    .hoverChild {
      transform-style: preserve-3d;
      transform: translateY(-100%) rotate(0deg);
      &:nth-child(2) {
        transform: translateY(-100%) rotateZ(0deg);
      }
    }
  }
  .hoverChild {
    transition: transform 0.36s ease-in-out;
    display: flex;
    transform-style: preserve-3d;
    &:nth-child(2) {
      transform: rotateZ(4deg) translateY(40%);
    }
  }
}

$width: 24px;
.cursor {
  position: fixed;
  top: calc($width * -0.5);
  left: calc($width * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1212;
}
.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: $width;
  height: $width;
  border-radius: 50%;
  background: #faf7ee;
  transform-origin: center center;
}
nav {
  display: grid;
  margin: 2vw;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  grid-column: 1;
  overflow: hidden;
  max-width: max-content;
  display: flex;
  top: 2vw;
  left: 2vw;
  position: fixed;
  width: 3.2vw;
  overflow: hidden;
  img {
    display: flex;
    width: 3.2vw;
  }
  &:hover {
    .hoverChildLogo {
      transform-style: preserve-3d;
      transform: translateX(-100%) rotate(0deg);
      &:nth-child(2) {
        transform: translateX(-100%) rotateZ(0deg);
        padding-left: 0;
      }
    }
  }
  .hoverChildLogo {
    transition: transform 0.36s ease-in-out;
    display: flex;
    transform-style: preserve-3d;
    &:nth-child(2) {
      transform: rotateZ(25deg) translateX(40%);
    }
  }
}

.menu {
  grid-column: 1;
  bottom: 2vw;
  left: 2vw;
  z-index: 100;
  position: fixed;
  display: grid;
  gap: 0.5vw;
  li {
    overflow: hidden;
    height: 1.5vw;
    a {
      color: #000;
      font-size: 1vw;
      font-weight: 600;
    }
  }
}
.mobile {
  display: none;
}

main {
  overflow-x: hidden;
  margin-top: 6vw;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-auto-rows: max-content;
  row-gap: 2vw;
  header {
    grid-column: 2;
    display: flex;
    flex-direction: column;

    .text {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    .text2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-family: Favorit, sans-serif;
      font-size: 14vw;
      color: #000;
      line-height: 12.8vw;
      font-weight: 400;
      letter-spacing: -0.1em;
      text-transform: uppercase;
    }
    .minText {
      font-size: 4vw;
      line-height: 3.5vw;
      text-align: right;
      letter-spacing: -0.07em;
    }
  }
}

.cart2 {
  grid-column: 3;
  justify-self: end;
  position: fixed;
}
.container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
}

.imgContainer {
  width: max-content;
  display: flex;
  gap: 2vw;
  position: relative;
  .bg {
    width: 14vw;
    position: absolute;
    inset: 0;
    z-index: 12;
    align-self: center;
    justify-self: center;
    mix-blend-mode: multiply;
    pointer-events: none;
  }
  .img {
    border: 1px solid black;
    img {
      width: 31.9vw;
      height: 100%;
      max-width: 31.9vw;
      object-fit: cover;
    }
  }
  .imgtext {
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    font-weight: 600;
  }
}

.button {
  margin-top: 2vw;
  // grid-row: 3;
  grid-column: 2;
  display: flex;
  gap: 1vw;
  justify-content: flex-end;
  align-items: center;
  align-self: end;
  font-size: 1.5vw;
  font-weight: 500;
}

.icon {
  display: flex;
  background: url("../image/5d14818767ac37ac193eccf4_circle-container.svg");
  padding: 1vw;
  cursor: pointer;
  transition: 0.5s;

  img {
    width: 3vw;
    transition: 0.5s;
  }
  &:hover {
    transform: scale(1.1);
    img {
      transform: rotate(360deg);
    }
  }
}

.marquee {
  margin-top: 2vw;
  grid-row: 4;
  grid-column: 1/-1;
  width: max-content;
  background-color: #ddc92a;
  display: flex;
  padding: 1vw 0;
  font-size: 2.5vw;
  line-height: 2.5vw;
  letter-spacing: -0.06em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  .marquee__inner {
    animation: marquee 15s linear infinite;
    display: flex;
    white-space: nowrap;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.who {
  margin-top: 10vw;

  grid-row: 5;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-self: end;
  .link {
    margin-top: 1vw;
    font-size: 1.2vw;
    line-height: 1.5vw;
    text-decoration: underline;
  }
  .h2 {
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.3vw;
    line-height: 4vw;
    font-weight: 500;
    letter-spacing: -0.06em;
  }
  .frist {
    display: flex;
    letter-spacing: normal;
    justify-content: space-between;
    span {
      text-decoration: underline;
      text-transform: lowercase;
    }
  }
}

.sliderDiv {
  grid-row: 6;
  grid-column: 1/-1;
  margin-left: 20%;
  margin-top: 6vw;
  width: 80vw;
  position: relative;

  .slider {
    position: relative;
    display: flex;
    gap: 2vw;
    width: max-content;
  }
  .card {
    user-select: none;
    width: 27vw;
    height: 34vw;
    overflow: hidden;
    background: #e7d6c4;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      top: 1.7vw;
      width: 23vw;
      -webkit-user-drag: none;
    }
    .cardContent {
      top: -5vw;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .cardimg {
      position: relative;
      top: -1vw;
    }
    .size {
      font-size: 1vw;
    }
    .cardText {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .name {
        font-family: "Bebas Neue", sans-serif;
        font-size: 7vw;
        margin-top: 0.3vw;
        line-height: 6vw;
        font-weight: 500;
        text-align: center;
        letter-spacing: -0.03em;
      }
    }
    .cardLogo {
      width: 5.5vw;
      margin-bottom: 2vw;
    }
    .price {
      margin-top: 0.6vw;
      text-align: center;
      h3 {
        text-decoration: line-through;
        font-size: 1vw;
        font-weight: 600;
      }
      h2 {
        font-size: 2vw;
        font-weight: 500;
        letter-spacing: -0.06em;
        line-height: 2vw;
      }
    }
  }
}

.footerText {
  grid-column: 2;
  display: grid;
  margin-top: 6vw;
  justify-content: end;
  overflow: hidden;
  .textDiv {
    position: relative;
    width: max-content;
    display: flex;
  }
  img {
    position: absolute;
    width: 7.5vw;
    z-index: -1;
  }
  .animeText {
    width: max-content;
    display: flex;
    flex-direction: column;
    height: 7vw;
    animation: moveDown 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }

  .text1 {
    display: flex;
  }
  .name {
    width: 21vw;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3vw;
    text-align: center;
    align-self: center;
  }
  .text {
    font-family: Favorit, sans-serif;

    height: 7vw;
    width: 21vw;
    font-size: 1.2vw;
    line-height: 1.4vw;
    text-align: left;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%); /* Move element 100% down */
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

footer {
  margin-top: 20vw;
  margin-bottom: 3vw;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  .from {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .input {
      border-bottom: 1px solid #000;
      margin-top: 1vw;
      button {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1vw;
      }
      input {
        font-size: 1.5vw;
        line-height: 1.5vw;
        padding: 0.7vw 1vw;
      }
      button,
      input {
        border: none;
        outline: none;
        background: none;
      }
    }

    .emailIcon {
      font-size: 1vw;
      line-height: 1vw;
      font-weight: 400;

      img {
        margin-top: 1vw;
        width: 4vw;
      }
    }

    .email {
      p {
        font-size: 0.8vw;
        line-height: 0.8vw;
        font-weight: 700;
      }
    }
  }
  .footerLinks {
    display: flex;
    justify-content: space-between;
    gap: 6vw;
    .linkTitle {
      font-size: 1vw;
      line-height: 1vw;
      font-weight: 500;
    }
    .credits {
      font-size: 1vw;
      line-height: 1vw;
      font-weight: 500;
      align-self: flex-end;
    }
    .link {
      display: grid;
      gap: 2vw;
      .hover {
        height: 2.5vw;
        overflow: hidden;
        font-size: 1.85vw;
        line-height: 2vw;
        letter-spacing: -0.05em;
      }
    }
  }
  .footerBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .button {
      margin-top: 0;
    }
    .social {
      display: flex;
      gap: 1vw;
      align-self: flex-end;

      .socialIcon {
        img {
          width: 1.5vw;
        }
      }
    }
  }
}

.sliderDiv,
.slider {
  touch-action: pan-y; /* Allow vertical panning */
}

@media (max-width: 700px) {
  footer {
    .from {
      display: none;
    }
    .footerLinks {
      width: 50%;
    }
  }

  main {
    margin-top: 140px !important;
    overflow: hidden;
  }
  nav,
  .menu {
    display: none !important;
  }
  .cart2 {
    display: none !important;
  }
  .cursor {
    display: none;
  }
  .none {
    display: none !important;
  }
  .footerText {
    justify-content: center;
    img {
      width: 15vw;
    }
    .animeText {
      height: 20vw;
      width: 60vw;
      .name {
        width: 25vw;
        font-size: 4.6vw;
      }
      .text {
        width: 35vw;

        height: 20vw;
        font-size: 2vw;
        line-height: 2.2vw;
      }
    }
  }

  .mobile {
    .mobileNavBlack {
      display: none !important;
    }
    top: 0;
    padding: 3vw;
    display: block;
    background: #141414;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 100;
    color: #fff;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    transition: height 1.2s;
    .hover {
      height: 6vw;
      overflow: hidden;
      .hoverChild {
        height: 7vw;
      }
      img {
        width: 14vw;
      }
    }
    .mobileNav {
      display: flex;
      justify-content: space-between;
      .cart {
        font-size: 3vw;
      }
    }
    .mobileMenu {
      margin-top: 10vw;
      a {
        color: #fff;
      }
      .tab {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
        height: 1rem;
        overflow: hidden;
      }
      .hr {
        width: 100%;
        height: 1px;
        background: #fff;
        animation: hr-anime 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        @keyframes hr-anime {
          0% {
            width: 0%;
          }
          100% {
            width: 100%;
          }
        }
      }
      ul {
        margin-top: 5vw;
        display: grid;
        font-size: 2rem;
        font-weight: 700;
        li {
          height: 3rem;
          overflow: hidden;
        }
      }
      .li {
        animation: navAnimation 1s ease-out forwards;
        animation-delay: 1s;
        transform: translateY(100%);
        opacity: 0;
        @keyframes navAnimation {
          0% {
            opacity: 0;
            transform: translateY(200%);
          }
          100% {
            opacity: 1;

            transform: translateY(0);
          }
        }
      }
      .footer {
        margin-top: 5vw;
        display: flex;
        gap: 20%;
        font-size: 1.1rem;
        .footerLi {
          height: 1.4rem;
          overflow: hidden;
        }
      }
      .bottom {
        margin-top: 10vw;
        display: flex;
        gap: 20%;
        .ink {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-weight: 800;
          height: 3.3rem;
          overflow: hidden;
          img {
            width: 2rem;
          }
        }
        .social {
          display: flex;
          align-items: end;
          gap: 1rem;
          .socialIcon {
            height: 1.2rem;
            overflow: hidden;
            cursor: pointer;
            img {
              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
      }
      .mobileHr {
        margin-top: 6vw;
      }
    }

    .btn {
      width: 8vw;
      // height: 25px;
      position: relative;
      cursor: pointer;
      div {
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background: #fff;
        position: absolute;
        height: 2px;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .bar1 {
        width: 50%;
        transform: translate(-100%, 10px);
      }
      .bar2 {
        width: 100%;
      }
      .bar3 {
        width: 50%;
        transform: translate(-0%, -10px);
      }
    }

    .btnClose {
      transition: all 1s;
      .bar1 {
        // width: 50%;
        transform-origin: 100% 50%;
        transform: translate(-100%, 0) rotate(-45deg);
      }
      .bar2 {
        transform: translate(-50%) rotate(45deg);
      }
      .bar3 {
        transform: translate(0, 0) rotate(-45deg);
        transform-origin: 0 0;
      }
    }
  }

  .mobileActive {
    top: 0;
    position: fixed;
    background: none;
    animation: anime 0.5s ease-in;
    height: 0vh;
    @keyframes anime {
      0% {
        height: 0vh;
        background: none;
      }
      100% {
        height: 100vh;
        background: #141414;
      }
    }
    @keyframes anime {
      0% {
        height: 100vh;
        background: #141414;
      }
      100% {
        height: 0vh;
        background: #141414;
      }
    }
    .mobileNavBlack {
      display: flex !important;
      .cart {
        color: #000000;
      }
    }
    .active {
      display: none;
    }
  }
}
